{% include "./base.html" %}
<h1>{{ board.name }}</h1>
<h2>Creator: {{ board.creator }}</h2>
<h2>{{ board.created_on }}</h2>

<ul>
{% for thread in threads %}
    <li><a href="/{{board.id}}/{{thread.id}}/">{{ thread.title }}</a></li>
    {% if thread.latest_post %}
    <p>Last reply by {{thread.latest_post.posted_by}} on {{thread.latest_post.posted_on}}</p>
    {% if thread.is_locked %}
    <b>Locked</b>
    {% endif %}
    {% else %}
    <p>No replies yet</p>
    {% endif %}
{% empty %}
    <li>No threads yet</li>
{% endfor %}
</ul>

<a href="/{{board.id}}/create/">Create Thread</a>