{% include "./base.html" %}
<h1>Boards</h1>
<h2>List of boards</h2>
{% if board_list %}
<ul>
    {% for board in board_list %}
    <li><a href="/{{board.id}}/">{{board.name}}</a></li>
    <p>Latest thread:
    {% if board.latest_thread_post %}
        <a href="/{{board.id}}/{{board.latest_thread_post.id}}">{{board.latest_thread_post.title}}</a></p>
    {% else %}
    No threads yet</p>
    {% endif  %}
    <p>Threads: {{board.thread_set.count}}</p>
    <p>Posts: {{board.post_count}}</p>
    {% endfor %}
</ul>
{% endif %}
{% if can_add_board %}
<a href="/create/">Create Board</a>
{% endif %}
{% if user.is_authenticated %}
    <p>Welcome <a href="/users/{{user.id}}"> {{ user.username }}</a> </p>
    <a href="{% url 'logout'%}">Logout</a>
{% else %}
    <a href="{% url 'login'%}">Login here</a>
    <a href="{% url 'register'%}">Register</a>
{% endif %}