{% include "bulletin_board/base.html" %}
<h1>{{thread.board}}</h1>
<h2>{{ thread.title }}</h2>
<h3>Posted By: {{ thread.posted_by }}</h3>
<h3>{{ thread.posted_on }}</h3>
<h3>Replies:</h3>

{% for post in posts %}
    <p><a href="/users/{{post.posted_by.id}}">{{post.posted_by}}</a> says: {{post.message}}</p>
    <p>Posted on: {{post.posted_on}}</p>
{% empty %}
<p>No replies yet</p>
{% endfor %}

{% if post_form %}
<form method="POST" action="/{{board_id}}/{{thread.id}}/reply">
    {% csrf_token %}
    {{post_form}}
     <input type="submit" value="Reply">
</form>
{% endif %}

{% if change_lock_status %}
{% if thread.is_locked %}
<a href="/{{board_id}}/{{thread.id}}/lock">Unlock thread</a>
{% else %}
<a href="/{{board_id}}/{{thread.id}}/lock">Lock thread</a>
{% endif %}
{% endif %}
<a href="/{{board_id}}/">Back to board</a>
