{% include "bulletin_board/base.html" %}
<h1>Username: {{user}}</h1>
<h2>Posts</h2>
{% if posts %}
<ul>
{% for post in posts %}
    <li>
        <p>{{post}}</p>
        <p>Posted on: {{post.posted_on}}</p>
    </li>
{% endfor %}
</ul>
{% endif %}